<div class="display-flex-container">
    <h1 mat-dialog-title class="flex-field">Account 1</h1>
    <button mat-icon-button (click)="toggleStar()">
        <mat-icon *ngIf="!isStarred">star_border</mat-icon>
        <mat-icon *ngIf="isStarred">star</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <span>Edit</span>
        </button>
        <button mat-menu-item>
            <span>Delete</span>
        </button>
    </mat-menu>
</div>
<div class="display-flex-container">
    <a mat-button><mat-icon>business</mat-icon><span>Company Name Inc.</span></a>
    <div>Created: 01 Jan, 2024</div>
</div>
<div class="display-flex-container">
    <a mat-button><mat-icon>account_circle</mat-icon><span>John Jones</span></a>
    <mat-chip-set>
        <mat-chip>New</mat-chip>
        <mat-chip>Electricity</mat-chip>
        <mat-chip>Gas</mat-chip>
    </mat-chip-set>
</div>
<br>
<mat-tab-group color="accent">
    <mat-tab label="Summary">
        <div class="content-margin-10 inline-flex-container">
            <div class="flex-field">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Revenue</mat-card-title>
                        <mat-card-subtitle>Monthly | Year to date</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
                <br>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Cost Savings</mat-card-title>
                        <mat-card-subtitle>Year to date</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
                <br>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Energy Use</mat-card-title>
                        <mat-card-subtitle>Year to date</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            <div class="right-content">
                <mat-card style="height: 500px;">
                    <mat-card-header>
                        <mat-card-title>Notes</mat-card-title>
                        <div class="spacer"></div>
                        <button mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </mat-card-header>
                    <mat-card-content style="overflow-y: auto;">
                        <mat-card class="card-item">
                            <mat-card-content>Company Name Inc. has been a reliable client for the past few years,
                                consistently engaging with our products and services. They have shown a strong interest
                                in our latest offerings, particularly in the areas of analytics and potential growth
                                opportunities.</mat-card-content>
                        </mat-card>
                        <br>
                        <mat-card class="card-item">
                            <mat-card-content>Company Name Inc. has been a reliable client for the past few years,
                                consistently engaging with our products and services. They have shown a strong interest
                                in our latest offerings, particularly in the areas of analytics and potential growth
                                opportunities.</mat-card-content>
                        </mat-card>
                    </mat-card-content>
                </mat-card>
                <br>
                <mat-card style="height: 500px;">
                    <mat-card-header>
                        <mat-card-title>Emails Sent</mat-card-title>
                    </mat-card-header>
                    <mat-card-content style="overflow-y: auto;">
                        <br>
                        <mat-card class="card-item">
                            <mat-card-content style="white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis;">
                                <span>To: sales@companyname.com</span><br>
                                <span>From: noreply@sls.com</span><br>
                                <span>Subject: Power Statement (01/2024)</span><br>
                                <span>Message: Attached below is your...</span>
                            </mat-card-content>
                        </mat-card>
                        <br>
                        <mat-card class="card-item">
                            <mat-card-content style="white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis;">
                                <span>To: sales@companyname.com</span><br>
                                <span>From: noreply@sls.com</span><br>
                                <span>Subject: Power Statement (01/2024)</span><br>
                                <span>Message: Attached below is your...</span>
                            </mat-card-content>
                        </mat-card>
                        <br>
                        <mat-card class="card-item">
                            <mat-card-content style="white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis;">
                                <span>To: sales@companyname.com</span><br>
                                <span>From: noreply@sls.com</span><br>
                                <span>Subject: Power Statement (01/2024)</span><br>
                                <span>Message: Attached below is your...</span>
                            </mat-card-content>
                        </mat-card>
                        <br>
                        <mat-card class="card-item">
                            <mat-card-content style="white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis;">
                                <span>To: sales@companyname.com</span><br>
                                <span>From: noreply@sls.com</span><br>
                                <span>Subject: Power Statement (01/2024)</span><br>
                                <span>Message: Attached below is your...</span>
                            </mat-card-content>
                        </mat-card>
                        <br>
                        <mat-card class="card-item">
                            <mat-card-content style="white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis;">
                                <span>To: sales@companyname.com</span><br>
                                <span>From: noreply@sls.com</span><br>
                                <span>Subject: Power Statement (01/2024)</span><br>
                                <span>Message: Attached below is your...</span>
                            </mat-card-content>
                        </mat-card>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Contracts">
        <div class="content-margin-10">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Pending Contracts</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Open Contracts</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Closed Contracts</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Analytics">
        <div class="content-margin-10">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Forecasting</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Meter Data Breakdown</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Cost Savings</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Potential">
        <div class="content-margin-10">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Building Potential</mat-card-title>
                    <mat-card-subtitle>Potential customers and other businesses in the same
                        building.</mat-card-subtitle>
                    <div class="spacer"></div>
                    <button mat-raised-button color="primary">
                        <mat-icon>add</mat-icon><span>Add Customer</span>
                    </button>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Contacts">
        <div class="content-margin-10">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Company</mat-card-title>
                    <div class="spacer"></div>
                    <button mat-raised-button color="primary">
                        <mat-icon>add</mat-icon><span>Add Company</span>
                    </button>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-card class="card-item-full">
                        <mat-card-header>
                            <mat-card-title>Company Name Inc.</mat-card-title>
                            <div class="spacer"></div>
                            <button mat-icon-button [matMenuTriggerFor]="companyMenu">
                                <mat-icon>more_horiz</mat-icon>
                            </button>
                            <mat-menu #companyMenu="matMenu" xPosition="before">
                                <button mat-menu-item>
                                    Remove
                                </button>
                            </mat-menu>
                            <mat-card-subtitle>Description of Company Name Inc.</mat-card-subtitle>
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <mat-accordion class="headers-align">
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Contacts
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            <span>(3)</span>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <mat-list>
                                        <mat-list-item>
                                            <mat-icon matListItemIcon>person</mat-icon>
                                            <div matListItemTitle>John Jones</div>
                                            <div matListItemLine>Primary Contact</div>
                                        </mat-list-item>
                                        <mat-list-item>
                                            <mat-icon matListItemIcon>person</mat-icon>
                                            <div matListItemTitle>Sam Stark</div>
                                            <div matListItemLine>Accounting</div>
                                        </mat-list-item>
                                        <mat-list-item>
                                            <mat-icon matListItemIcon>person</mat-icon>
                                            <div matListItemTitle>Xavier Copper</div>
                                            <div matListItemLine>Manager</div>
                                        </mat-list-item>
                                    </mat-list>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Contacts</mat-card-title>
                    <div class="spacer"></div>
                    <button mat-raised-button color="primary">
                        <mat-icon>add</mat-icon><span>Add Contact</span>
                    </button>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-card class="card-item-full">
                        <mat-card-header>
                            <mat-card-title>John Jones</mat-card-title>
                            <mat-card-subtitle>Program Manager</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-list>
                                <mat-list-item>
                                    <mat-icon matListItemIcon>email</mat-icon>
                                    <div matListItemTitle>jjones@company.com</div>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-icon matListItemIcon>phone</mat-icon>
                                    <div matListItemTitle>(321) 345-7890</div>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card class="card-item-full">
                        <mat-card-header>
                            <mat-card-title>Sam Stark</mat-card-title>
                            <mat-card-subtitle>Accounting Manager</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-list>
                                <mat-list-item>
                                    <mat-icon matListItemIcon>email</mat-icon>
                                    <div matListItemTitle>jjones@company.com</div>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-icon matListItemIcon>phone</mat-icon>
                                    <div matListItemTitle>(321) 345-7890</div>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                    <br>
                    <mat-card class="card-item-full">
                        <mat-card-header>
                            <mat-card-title>Xavier Cooper</mat-card-title>
                            <mat-card-subtitle>Manager</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-list>
                                <mat-list-item>
                                    <mat-icon matListItemIcon>email</mat-icon>
                                    <div matListItemTitle>jjones@company.com</div>
                                </mat-list-item>
                                <mat-list-item>
                                    <mat-icon matListItemIcon>phone</mat-icon>
                                    <div matListItemTitle>(321) 345-7890</div>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Documents">
        <div class="content-margin-10">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Agreements</mat-card-title>
                    <div class="spacer"></div>
                    <button mat-raised-button color="primary"><mat-icon>link</mat-icon><span>Link
                            Document</span></button>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="inline-flex-container">
                        <mat-card class="card-item">
                            <mat-card-header>
                                <mat-card-title>
                                    <button mat-button>
                                        <mat-icon>description</mat-icon>
                                        <span>Proposal</span>
                                    </button>
                                </mat-card-title>
                                <div class="spacer"></div>
                                <button mat-icon-button [matMenuTriggerFor]="docMenu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #docMenu="matMenu" xPosition="before">
                                    <button mat-menu-item>
                                        <span>Edit</span>
                                    </button>
                                    <button mat-menu-item>
                                        <span>Delete</span>
                                    </button>
                                </mat-menu>
                                <mat-card-subtitle>Proposal document description, proposing the cost savings for
                                    Company
                                    Name Inc.</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                            </mat-card-content>
                        </mat-card>
                        &nbsp;
                        &nbsp;
                        <mat-card class="card-item">
                            <mat-card-header>
                                <mat-card-title>
                                    <button mat-button>
                                        <mat-icon>description</mat-icon>
                                        <span>Agreement 1</span>
                                    </button>
                                </mat-card-title>
                                <div class="spacer"></div>
                                <button mat-icon-button [matMenuTriggerFor]="docMenu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #docMenu="matMenu" xPosition="before">
                                    <button mat-menu-item>
                                        <span>Edit</span>
                                    </button>
                                    <button mat-menu-item>
                                        <span>Delete</span>
                                    </button>
                                </mat-menu>
                                <mat-card-subtitle>Agreement document description, Company
                                    Name Inc. agrees to work.</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Other</mat-card-title>
                    <div class="spacer"></div>
                    <button mat-raised-button color="primary"><mat-icon>link</mat-icon><span>Link
                            Document</span></button>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="inline-flex-container">
                        <mat-card class="card-item">
                            <mat-card-header>
                                <mat-card-title>
                                    <button mat-button>
                                        <mat-icon>description</mat-icon>
                                        <span>Change Order</span>
                                    </button>
                                </mat-card-title>
                                <div class="spacer"></div>
                                <button mat-icon-button [matMenuTriggerFor]="docMenu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #docMenu="matMenu" xPosition="before">
                                    <button mat-menu-item>
                                        <span>Edit</span>
                                    </button>
                                    <button mat-menu-item>
                                        <span>Delete</span>
                                    </button>
                                </mat-menu>
                                <mat-card-subtitle>Agreement document description, Company
                                    Name Inc. agrees to work.</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>